<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Kanye Quotes</title>
</head>
<body>
    <div>
        <h1 id="header" >Kanye Quotes</h1>
    </div>

    <div>
        <img class="kanyepic" src="/images/kanye.jpg" alt="">
    </div>

    <div class="outerbox" >  
        <section id="cards" class="cards">
        <% locals.data %>
        <article class="card-item">
          <h2 class="card-activity">
            <%= data.quote %>
      </section>
    </div>  

    <button class="btn" onClick="window.location.href=window.location.href">
        New Quote
    </button>

</body>
</html>